#**Assignment : Data Structure Advance : Kishore Rawat**

##Q.1 Write a code to reverse a string.

##Ans. Code to reverse a string:

In [11]:
def reverse_string(string):
  reversed_string = ""
  for i in range(len(string)-1, -1, -1):
    reversed_string += string[i]
  return reversed_string

input_string = "Kishore Rawat"
reversed_string = reverse_string(input_string)
print(reversed_string)

tawaR erohsiK

---------------------------------------------------------------------------------

##Q.2 Write a code to count the numbers of vowels in a string.

##Ans. Code to count the numbers of vowels in a string:

In [ ]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count


input_string = "Kishore Rawat"
vowel_count = count_vowels(input_string)
print(vowel_count)

5

--------------------------------------------------------------------------------------------

##Q.3 Write a code to check if a given string is a palindrome or not.

##Ans. code to check if a given string is a palindrome or not:

In [ ]:
def is_palindrome(s):
  s = s.lower().replace(" ", "")
  return s == s[::-1]

# Example usage
string1 = "madam"
string2 = "racecar"
string3 = "apple"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")
print(f"'{string3}' is a palindrome: {is_palindrome(string3)}")

'madam' is a palindrome: True
'racecar' is a palindrome: True
'apple' is a palindrome: False

-------------------------------------------------------------------------------------

##Q.4 Write a code to check if two given string are anagrams of each other.

##Ans. Code to check if a given string are anagrams of each other:

In [ ]:
def are_anagrams(str1, str2):
  str1 = str1.lower()
  str2 = str2.lower()
  return sorted(str1.lower()) == sorted(str2.lower())
print(are_anagrams("Kishore", "Rawat"))

False

-----------------------------------------------------------------------------------

##Q.5 Write a code to find all occurrences of a given substring within another string.

##Ans. Code to find all occurrences of a given substring within another string:

In [4]:
def find_occurrences(string, substring):
  occurrences = []
  start = 0
  while True:
    index = string.find(substring, start)
    if index == -1:
      break
    occurrences.append(index)
    start = index + 1
  return occurrences

string = "This is a new dish."
substring = "is"
occurrences = find_occurrences(string, substring)
print(occurrences)

[2, 5, 15]

--------------------------------------------------------------------------------------

##Q.6 Write a code to perform basic string compression using the counts of repeated characters.

##Ans Code to perform basic string compression using the counts of repeated characters:

In [6]:
def compress_string(string):
  compressed_string = ""
  count = 1
  for i in range(1, len(string)):
    if string[i] == string[i-1]:
      count += 1
    else:
      compressed_string += string[i-1] + str(count)
      count = 1

input_string = "aaabbccccd"
compressed_string = compress_string(input_string)
print(compressed_string)

None

-----------------------------------------------------------------------------------

##Q.7 Write a code to determine if a string has all unique characters.

##Ans. code to determine if a string has all unique characters:

In [12]:
def has_unique_chars(string):
  char_set = set()
  for char in string:
    if char in char_set:
      return False
    char_set.add(char)
  return True

input_string = "abcdefg"
if has_unique_chars(input_string):
  print("The string has all unique characters.")
else:
  print("The string does not have all unique characters.")

The string has all unique characters.

--------------------------------------------------------------------------------------

##Q.8 Write a code to convert a given string in uppercase & lowercase.

##Ans Code to convert a given string in uppercase & lowercase:

In [ ]:
input_string = "Kishore Rawat"
uppercase_string = input_string.upper()
lowercase_string = input_string.lower()
print(uppercase_string)
print(lowercase_string)

KISHORE RAWAT
kishore rawat

----------------------------------------------------------------------------------------------------------------------------

##Q.9 Write a code to count the number of words in string.

##Ans. Code to count the number of words in string:

In [ ]:
string = "This_is_a_new_dish."
word_count = len(string)
print(word_count)

19

---------------------------------------------------------------------------------------------------------------

##Q.10 Write a code to concatenate two string without using the + operator.

##Ans. Code to concatenate two string without using the + operator:

In [ ]:
str1 = "Kishore"
str2 = " Rawat"
str1 = "".join([str1, str2])
print(str1)

Kishore Rawat

----------------------------------------------------------------------------------------------------------------

##Q.11 Write a code to remove all occurrences of a specific element from a list.

##Ans. Code to remove all occurrences of a specific element from a list:

In [ ]:
list = [1, 2, 3, 4, 2, 5, 6, 2]
element = 2
list = [x for x in list if x != element]
print(list)

[1, 3, 4, 5, 6]

---------------------------------------------------------------------------------------------------------------

##Q.12 Implement a code to find a second largest number in a given list of integer.

##Ans. Code to find a second largest number in a given list of integer:

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list.sort()
second_largest = list[-2]
print(second_largest)

8

-----------------------------------------------------------------------------------------------------------------------

##Q.13 Create a code to count the occurrences of each element in a list and return a dictonary with elements as keys and their counts as values.

##Ans. Code to count the occurrences of each element in a list and return a dictonary with elements as keys and their counts as values:

In [ ]:
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
occurrences = {}
for item in my_list:
  if item in occurrences:
    occurrences[item] += 1
  else:
    occurrences[item] = 1
print(occurrences)

{1: 1, 2: 2, 3: 3, 4: 4}

--------------------------------------------------------------------------------------------------------

##Q.14 Write a code to reverse a list in-place without using any built-in reverse function.

##Ans: code to reverse a list in-place without using any built-in reverse function:

In [ ]:
list = [1, 2, 3, 4, 5]
start = 0
end = len(list) - 1
while start < end:
  list[start], list[end] = list[end], list[start]
  start += 1
  end -= 1
print(list)

[5, 4, 3, 2, 1]

-------------------------------------------------------------------------------------------------------------------

##Q.15 Implement a code to find and remove any duplicates from a list while preserving the original order of elements.

##Ans. code to find and remove any duplicates from a list while preserving the original order of elements:

In [ ]:
list = [1, 2, 3, 4, 2, 5, 6, 2]
unique_list = []
for item in list:
  if item not in unique_list:
    unique_list.append(item)
    list = unique_list
print(list)

[1, 2, 3, 4, 5, 6]

----------------------------------------------------------------------------------------------------------------

#Q.16 Create a code to check if a given list is sorted (either in ascending or desending order) or not.

##Ans. Code to check if a given list is sorted (either in ascending or desending order) or not:

In [ ]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [5, 4, 3, 2, 1]
list_3 = [1, 3, 2, 5, 4]
print(is_sorted(list_1))
print(is_sorted(list_2))
print(is_sorted(list_3))

True
True
False

----------------------------------------------------------------------------------------------------------------

##17. Write a code to merge two shorted lists into a single shorted list.

##Ans. Code to merge two shorted lists into a single shorted list:

In [ ]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]
merged_list = list1 + list2
merged_list.sort()
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

------------------------------------------------------------------------------------------------------------

##Q.18 Implement a code to find the intersection of two given list.

##Ans. code to find the intersection of two given list:

In [ ]:
def find_intersection(list1, list2):
  intersection = [value for value in list1 if value in list2]
  return intersection

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]

intersection_result = find_intersection(list1, list2)
print(intersection_result)

[3, 5]

-----------------------------------------------------------------------------------------------------------

##Q.19 Create a code to find a union of two lists without duplicates.

##Ans. Code to find a union of two lists without duplicates:

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]
union = list1 + list2
duplicate = set([x for x in union if union.count(x) > 1])
union = [x for x in union if x not in duplicate]
print(union)

[1, 2, 4, 6, 7, 8]

---------------------------------------------------------------------------------------------------------------------------------

##Q.20 Write a code to suffle a given list randomely without using any built-in suffle function.

##Ans. Code to suffle a given list randomely without using any built-in suffle function:

In [ ]:
import random

def shuffle_list(my_list):
  n = len(my_list)
  for i in range(n - 1, 0, -1):
    j = random.randint(0, i)
    my_list[i], my_list[j] = my_list[j], my_list[i]
  return my_list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[3, 6, 7, 1, 8, 4, 2, 5, 9]

-------------------------------------------------------------------------------------------------------

##Q.21 Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

##Ans. code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples:

In [ ]:
tuple_1 = (1, 2, 3, 4, 5)
tuple_2 = (4, 5, 6, 7, 8)
common_elements = tuple(set(tuple_1) & set(tuple_2))
print(common_elements)

(4, 5)

##Q.22 Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

##Ans. code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets:

In [ ]:
set1 = input("Enter the first set of integers separated by commas: ")
set2 = input("Enter the second set of integers separated by commas: ")
set1 = set(map(int, set1.split(",")))
set2 = set(map(int, set2.split(",")))
intersection = set1.intersection(set2)
print("The intersection of the two sets is:", intersection)

Enter the first set of integers separated by commas: 1, 2, 3
Enter the second set of integers separated by commas: 2, 3, 4, 5
The intersection of the two sets is: {2, 3}

--------------------------------------------------------------------------------------------------------------

##Q.23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

##Ans. code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples:

In [ ]:
def concatenate_tuples(tuple1, tuple2):
  concatenated_tuple = tuple1 + tuple2
  return concatenated_tuple

# Example usage
tuple1 = input("Enter a tuple")
tuple2 = input("Enter a tuple")
result = concatenate_tuples(tuple1, tuple2)
print(result)

Enter a tuple1,2,3
Enter a tuple4,5,6
1,2,34,5,6

-----------------------------------------------------------------------------------------------------------------------

##Q.24 Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

##Ans. Code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set:

In [ ]:
set1 = input("Enter the first set of strings separated by commas: ")
set2 = input("Enter the second set of strings separated by commas: ")
set1 = set(set1.split(","))
set2 = set(set2.split(","))
difference = set1 - set2
print("The elements that are present in the first set but not in the second set are:", difference)

Enter the first set of strings separated by commas: 1,2,3,4,5
Enter the second set of strings separated by commas: 6,5,4,7,8
The elements that are present in the first set but not in the second set are: {'1', '2', '3'}

-----------------------------------------------------------------------------------------------------------------

##Q.25 Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

##Ans: Code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices:

In [ ]:
tuple_1 = input("Enter two integers")
start_index = 2
end_index = 6
new_tuple = tuple_1[start_index:end_index+1]
print(new_tuple)

Enter two integers1,2,3,4,5,6,7
2,3,4

-----------------------------------------------------------------------------------------------------------------------

##Q.26 Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

##Ans code that prompts the user to input two sets of characters. Then, print the union of these two sets:

In [ ]:
set1 = input("Enter the first set of characters separated by commas: ")
set2 = input("Enter the second set of characters separated by commas: ")
set1 = set(set1.split(","))
set2 = set(set2.split(","))
union = set1.union(set2)
print("The union of the two sets is:", union)

Enter the first set of characters separated by commas: 1,2,3,4,5,6,7
Enter the second set of characters separated by commas: 5,6,7,8,9
The union of the two sets is: {'1', '5', '3', '8', '4', '9', '2', '6', '7'}

--------------------------------------------------------------------------------------------------------------------------------------------------------------

##Q.27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

##Ans: code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking:

In [ ]:
def find_min_max(numbers):
  return min(numbers), max(numbers)

numbers_tuple = input("Enter a tuple of integers")
numbers_tuple = tuple(map(int, numbers_tuple.split(",")))
min_value, max_value = find_min_max(numbers_tuple)
print("Minimum value:", min_value)
print("Maximum value:", max_value)

Enter a tuple of integers2,3,4,5
Minimum value: 2
Maximum value: 5

-------------------------------------------------------------------------------------------------------------------------------------

##Q.28 Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

## code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets:

In [ ]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {4, 5, 6, 7, 8}
union = set_1.union(set_2)
intersection = set_1.intersection(set_2)
difference = set_1.difference(set_2)
print("Union:", union)
print("Intersection:", intersection)
print("Difference:", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

-----------------------------------------------------------------------------------------------------------------------------

##Q.29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

##Ans. Code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple:

In [ ]:
def count_occurrences(my_tuple, element):
  count = 0
  for item in my_tuple:
    if item == element:
      count += 1
  return count

my_tuple = input("Enter elemenr as")
element_to_count = 2
count = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

-------------------------------------------------------------------------------------------------------

##Q.30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

##Ans.  that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets:

In [ ]:
user_input1 = input("Enter the first set of strings separated by commas: ")
user_input2 = input("Enter the second set of strings separated by commas: ")
set1 = set(user_input1.split(","))
set2 = set(user_input2.
           split(","))
symmetric_difference = set1.symmetric_difference(set2)
print("The symmetric difference of the two sets is:", symmetric_difference)

Enter the first set of strings separated by commas: kishore rawat, mukesh rawat
Enter the second set of strings separated by commas: ramesh rawat, suresh rawat
The symmetric difference of the two sets is: {' suresh rawat', ' mukesh rawat', 'kishore rawat', 'ramesh rawat'}

---------------------------------------------------------------------------------------------------------------------

##Q.31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

##Ans. Code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list:

In [10]:
def word_frequency(words):
  frequency_dict = {}
  for word in words:
    if word in frequency_dict:
      frequency_dict[word] += 1
    else:
      frequency_dict[word] = 1
  return frequency_dict

dict1 = input("Enter the first set of strings separated by commas: ")
dict2 = input("Enter the second set of strings separated by commas: ")
set1 = set(dict1.split(","))
set2 = set(dict2.split(","))
symmetric_difference = set1.symmetric_difference(set2)
print("The symmetric difference of the two sets is:", symmetric_difference)

Enter the first set of strings separated by commas: 1,2,3,4,5
Enter the second set of strings separated by commas: 4,5,6,7,8
The symmetric difference of the two sets is: {'3', '7', '2', '6', '1', '8'}

-----------------------------------------------------------------------------------------------------------

##Q.32 Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

##Ans. code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together:

In [ ]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}
merged_dict = {}
for key, value in dict1.items():
  merged_dict[key] = value
for key, value in dict2.items():
  if key in merged_dict:
    merged_dict[key] += value
  else:
    merged_dict[key] = value
print(merged_dict)

{'a': 1, 'b': 6, 'c': 8, 'd': 6}

-----------------------------------------------------------------------------------------------------------

##Q.33 Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

##Ans. code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None:

In [ ]:
def access_nested_value(nested_dict, keys):
  current_dict = nested_dict
  for key in keys:
    if key in current_dict:
      current_dict = current_dict[key]
    else:
      return None
  return current_dict

nested_dict = {"a": {"b": {"c": 10}}}
keys = ["a", "b", "c"]
value = access_nested_value(nested_dict, keys)
print(value)

10

------------------------------------------------------------------------------------------------------------

##Q.34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

##Ans. code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order:

In [ ]:
def sort_dictionary_by_values(input_dict, ascending=True):
  sorted_items = sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending)
  sorted_dict = {key: value for key, value in sorted_items}
  return sorted_dict

my_dict = {'apple': 3, 'banana': 1, 'cherry': 2}

sorted_dict_asc = sort_dictionary_by_values(my_dict)
print("Sorted in ascending order:", sorted_dict_asc)

sorted_dict_desc = sort_dictionary_by_values(my_dict, ascending=False)
print("Sorted in descending order:", sorted_dict_desc)

Sorted in ascending order: {'banana': 1, 'cherry': 2, 'apple': 3}
Sorted in descending order: {'apple': 3, 'cherry': 2, 'banana': 1}

--------------------------------------------------------------------------------------------

##Q.35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

##Ans. code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary:

In [ ]:
def invert_dictionary(input_dict):
  inverted_dict = {}
  for key, value in input_dict.items():
    if value not in inverted_dict:
      inverted_dict[value] = [key]
    else:
      inverted_dict[value].append(key)
  return inverted_dict

my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = invert_dictionary(my_dict)
print(inverted_dict)  # Output: {1: ['a', 'c'], 2: ['b'], 3: ['d']}

{1: ['a', 'c'], 2: ['b'], 3: ['d']}

---------------------------------------------------------------------------------------------------------

#**Thank You**